body {
  padding-top: 30px;
}

body > div > canvas{
  display:block;
  vertical-align:bottom;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -200;
  width: 100%;
  height: 100%;
}

hr {
  height:1px;
  border:none;
  color:#004C00;
  background-color:#004C00;
  width:80%;
  text-align:center;
  
  margin-left: auto;
  margin-right: auto;
}

.portfolio-item {
  padding-top: 30px;
}

.portfolio-item > p {
  
  color: #747474;
}

.portfolio-item > h3 {
  color: #3EE33E;
  margin-top: 5px;
}

.portfolio-item > h3 > a {
  color: #3EE33E;
}

.portfolio-item > p > a {
  color: #00C600;
}

.label-default {
  color: #D2D2D2;
}

.grad:after {
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
}

.grad::after {
    background: radial-gradient( circle at top, #0F420F, #000600 );
}

.grad{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
}

#canvasTagContainer {
  margin: 0px auto;
  text-align: center;
  padding-bottom: 30px
}

#canvasTag {
  width: 100%;
  height: 100%;
}

.links {
  width: 100%;
  text-align: center;
  margin-top: 4px;
  color: #00C600;
}

.links > a {
  color: #00C600;
}